{% extends 'base.html' %}
{% block head %}
<title>Admin Panel</title>
 
{% endblock %}


{% block content %}

<div class=" row" >
    {{form.hidden_tag()}}
    <!-- first Column -->
    <div class="col-3 border-top border-end rounded-end" style="background-color: #344ba0;">

      <div class="mt-5 ps-3 ">
          <div class=" align-top " style="text-align: center;margin: 3rem;">
            <a href="" class="fs-4 border-bottom "><i class="fa-solid fa-power-off" style="color: #f0c76f;"></i></a>
        
          </div>
          
          <ul class="">
            
            <li class="pb-5" style="list-style: none;">
              <a href="{{url_for('adminLogOut')}}"><i class="fa-solid fa-gears" style="color: #f0c76f;"></i></a>
            <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Admin(Office)</a>
            
            </li>
            <hr>
            <li class="pb-5" style="list-style: none;">
              <i class="fa-solid fa-calendar-plus" style="color: #f0c76f;"></i>
            <a href="/timetable" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Update Time Tables</a>
            
            </li>
            <hr>
            <li class="" style="list-style: none;">
              <i class="fa-solid fa-file-export" style="color: #f0c76f;"></i>
            <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Reports</a>
            
            </li>
               
          </ul>

      </div>
    </div> 
    <!-- End of First Column -->

    <div class="col">

      <!-- first Card -->
      
      <div class="card bg-body-tertiary pt-3">
        <h5 class="card-header">You Have <span><i>({{count}})</i></span> Request In Total</h5>
        <div class="card-body">
          <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">IT <span>({{it_count}})</span></li>
              <li class="list-group-item">Accountency <span>({{account_count}})</span></li>
              <li class="list-group-item">Management <span>({{manage_count}})</span></li>
              <li class="list-group-item">THM <span>({{thm_count}})</span></li>
              <li class="list-group-item">English <span>({{english_count}})</span></li>
              
            </ul>
          </div>
        </div>
      </div>
      <!-- End of First card -->

      <!-- Second card -->
      <div class="card bg-body-tertiary pt-3">
        <h5 class="card-header"> IT  </h5>
        <div class="card-body">
          
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Course</th>
                  <th>Photo</th>
                  <th>Confirmation</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                {% for row in result_it %}
  
  
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td><a class="btn btn-secondary btn-sm" href="/admin?action=accept" role="button">Accept</a>|<a class="btn btn-danger btn-sm" href="/admin?action=reject" role="button">Reject</a></td>
                  
                  
                </tr>
                
                {% endfor %}
              </tbody>
            </table>
          </div>
          
          
          
        </div>
      </div>
      <hr>
      <div class="card bg-body-tertiary pt-3">
        <h5 class="card-header"> Accountency  </h5>
        <div class="card-body">
          
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Course</th>
                  <th>Photo</th>
                  <th>Confirmation</th>
                  
                  
                  
                </tr>
              </thead>
              <tbody>
                {% for row in result_account %}
  
  
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td><a class="btn btn-secondary btn-sm" href="/admin?action=accept" role="button">Accept</a>|<a class="btn btn-danger btn-sm" href="/admin?action=reject" role="button">Reject</a></td>
  
  
  
                  
                </tr>
                
                {% endfor %}
              </tbody>
            </table>
          </div>

          
          
          
        </div>
      </div>
      <hr>
      <div class="card bg-body-tertiary pt-3">
        <h5 class="card-header"> Management  </h5>
        <div class="card-body">
         <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover table table-bordered table-striped mb-0">
            <thead>
              <tr>
                 <th>Name</th>
                <th>Gender</th>
                <th>Course</th>
                <th>Photo</th>
                <th>Confirmation</th>
                
              </tr>
            </thead>
            <tbody>
              {% for row in result_manage %}


              <tr>
              <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td><a class="btn btn-secondary btn-sm" href="/admin?action=accept" role="button">Accept</a>|<a class="btn btn-danger btn-sm" href="/admin?action=reject" role="button">Reject</a></td>
                
                
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
         </div>

          
          
          
        </div>
      </div>
      <hr>
      <div class="card bg-body-tertiary pt-3">
        <h5 class="card-header"> THM  </h5>
        <div class="card-body">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover table table-bordered table-striped mb-0">
              <thead>
                <tr>
                   <th>Name</th>
                  <th>Gender</th>
                  <th>Course</th>
                  <th>Photo</th>
                  <th>Confirmation</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for row in result_thm %}
  
  
                <tr>
                 <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[4] }}</td>
                  <td><a class="btn btn-secondary btn-sm" href="/admin?action=accept" role="button">Accept</a>|<a class="btn btn-danger btn-sm" href="/admin?action=reject" role="button">Reject</a></td>
                  
                  
                </tr>
                
                {% endfor %}
              </tbody>
            </table>
          </div>

          
          
          
        </div>
      </div>
      <hr>
      <div class="card bg-body-tertiary pt-3">
        <h5 class="card-header"> English  </h5>
        <div class="card-body">
          <div  class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Course</th>
                  <th>Photo</th>
                  <th>Confirmation</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for row in result_english %}
  
  
                <tr>
                 <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>{{ row[3] }}</td>
                  <td>{{ row[4] }}</td>
                  <td><a class="btn btn-secondary btn-sm" href="/admin?action=accept" role="button">Accept</a>|<a class="btn btn-danger btn-sm" href="/admin?action=reject" role="button">Reject</a></td>
                  
                 
                </tr>
                
                {% endfor %}
              </tbody>
            </table>
          </div>

          
          
          
        </div>
      </div>

      
      <!-- end of Second card bundle -->
      
    </div>
    <!-- End of Second Column -->
    
  </div>


{% endblock %}



