{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}

<div class=" row" >
    <div class="col-3 border-top border-end rounded-end" style="background-color: #344ba0;height: 100vh;">

      <div class="mt-5 ps-3">
          <ul class="">
            
            <li class="pb-5" style="list-style: none;">
              <i class="fa-solid fa-gears" style="color: #f0c76f;"></i>
            <a href="/adminPanel" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Admin(Office)</a>
            
            </li>
            <hr>
            <li class="pb-5" style="list-style: none;">
              <i class="fa-solid fa-calendar-plus" style="color: #f0c76f;"></i>
            <a href="/timetable" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Update Time Tables</a>
            
            </li>
            <hr>
            <li class="" style="list-style: none;">
              <i class="fa-solid fa-file-export" style="color: #f0c76f;"></i>
            <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Reports</a>
            
            </li>
               
          </ul>

      </div>
    </div> 
    <!-- End of First Column -->

    <!-- second column -->
    <div class="col">
        <!-- card for department and semester -->
       <form action="{{url_for('timeTable')}}" method="POST">
        {{form.hidden_tag()}}
        <fieldset>
          <legend>Select </legend>
          
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
              <small><label for="floatingInput">{{form.department.label}}</label></small>
              {{form.department(class="form-control department-select", id="floatingInput" )}}
              

          </li>
          <li class="list-group-item">
              <small><label for="floatingInput">{{form.year.label}}</label> </small> 
              {{form.year(class="form-control department-select", id="floatingInput" )}}

              
          </li>
          <li class="list-group-item">
             <small> <label for="floatingInput">{{form.semester.label}}</label></small>
              {{form.semester(class="form-control department-select", id="floatingInput" )}}
              
          </li>
          
      </ul>
      <div style="padding-left: 4px;" id="submitButton">
        <!-- {{form.submit(class="form-control btn btn-secondary btn-sm w-25", id="floatingInput" )}} -->
        <a class="btn btn-secondary btn-sm" href="/timetable?action=display" role="button">Show</a>|
      </div>
    </form>
       
        </fieldset>
       
       

       <div class="card" id="mainCard" style="display: none;">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Set up the Time Schedule</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          <!-- table -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Subject Name</th>
                <th scope="col">Subject Code</th>
                <th scope="col">Exam Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Action</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>{{form.subject_name()}}</th>
                <th>{{form.subject_code()}}</th>
                <th>{{form.date()}}</th>
                <th>{{form.start_time()}}</th>
                <th>{{form.end_time()}}</th>
                <th>
                  <a class="btn btn-secondary btn-sm" href="/timetable?row=insert" role="button">Insert</a>|
                  
                </th>

              </tr>
             
            </tbody>
          </table>



          

          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      
      <!-- second card -->
      <!-- <div class="card">
        <div class="card-header">
          At a glance 
        </div>
        <div class="card-body">
          <h5 class="card-title">Dynamic view</h5>
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Subject Name</th>
                <th scope="col">Subject Code</th>
                <th scope="col">Exam Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                

              </tr>
             
            </tbody>
          </table>
        </div>
      </div> -->
       

  
    
    </div>
    
   
              
    
  </div>


  <script>
    
    var button =document.getElementById('submitButton')
    var mainCard=document.getElementById('mainCard')
    button.addEventListener('click',displayCard())
    function displayCard(){
      mainCard.style.display='block'
    }



  </script>
{% endblock %}

