{% extends 'base.html' %}
{% block head %}
<title>{THM}</title>
 
{% endblock %}


{% block content %}


<div class=" row" >
  {{form.hidden_tag()}}
  <!-- first Column -->
  <div class="col-3 border-top border-end rounded-end" style="background-color: #344ba0;height: 100vh;">

    <div class="mt-5 ps-3">
      <div >
        <span style="margin: 0; padding: 0; color: #f0c76f; margin-left: 1rem; padding-left: 1rem;"><i> Hi {{user_name|title}}</i></span>
        <a href="{{url_for('thmAdminLogOut')}}" class="fs-4 border-bottom "><i class="fa-solid fa-power-off" style="color: #f0c76f;"></i></a>
      </div>
      
        <ul class="">
          
          <li class="pb-5" style="list-style: none;">
           <a href="#"> <i class="fa-solid fa-gears" style="color: #f0c76f;"></i></a>
          <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Admin(HOD)</a>
          
          </li>
          <hr>
          <li class="pb-5" style="list-style: none;">
            <i class="fa-solid fa-calendar-plus" style="color: #f0c76f;"></i>
          <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Update Time Tables</a>
          
          </li>
          <hr>
          <li class="pb-5" style="list-style: none;">
            <i class="fa-solid fa-file-export" style="color: #f0c76f;"></i>
          <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Reports</a>
          
          </li>
          <hr>
          <li class="" style="list-style: none;">
            <i class="fa-solid fa-chart-line" style="color: #f0c76f;"></i>
          <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Statistics</a>
          
          </li>
          
             
        </ul>

    </div>
  </div> 
  <!-- End of First Column -->

  <div class="col">

    <!-- first Card -->
    <!-- table -->
    <div class="card bg-body-tertiary pt-3">
      <h5 class="card-header"> DEPARTMENT OF TOURISM & HOSPITALITY MANAGEMENT  </h5>
      <span>Requests {{count}}</span>
      <div class="card-body">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover table table-bordered table-striped mb-0">
            <thead>
              <tr>
                 <th>Name</th>
                <th>Gender</th>
                <th>Course</th>
                <th>Subject</th>            
                <th>Photo</th>
                <th>Authentication</th>
                
              </tr>
            </thead>
            <tbody>
              {% for row in result %}


              <tr>
               <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
              
                
                <td><a class="btn btn-secondary btn-sm" href="/admin?action=thmAccept" role="button">Authenticate</a>|<a class="btn btn-danger btn-sm" href="/admin?action=thmReject" role="button">Reject</a></td>
                
                
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
        </div>

        
        
        
      </div>
    </div>
    <!-- End of First card -->

    <!-- Second card -->
    

    
    <!-- end of Second card bundle -->
    
  </div>
  <!-- End of Second Column -->
  
</div>



{% endblock %}



