{% extends 'base.html' %}
{% block head %}
<title>User SignUp</title>
 
{% endblock %}


{% block content %}
<form action="/" method="POST" class="container">
    {{form.hidden_tag()}}
    <div class="form-group">
      <label for="first_name">{{form.first_name.label}}</label>
      {{form.first_name(class='form-control')}}
    </div>
    <div class="form-group">
      <label for="last_name">{{form.last_name.label}}</label>
      {{form.last_name(class='form-control')}}
    </div>
    <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Department</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option value="1">IT</option>
          <option value="2">ENGLISH</option> 
          <option value="3">MANAGEMENT</option> 
          <option value="4">ACCOUNTENCY</option> 
          <option value="5">TOURISM</option>     
          
        </select>

      <div class="form-group">
        <label for="email">{{form.email.label}}</label>
        {{form.email(class='form-control')}}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="password">{{form.password.label}}</label>
        {{form.password(class='form-control')}}
      </div>

      <div class="form-group">
        <label for="con_pass">{{form.confirm.label}}</label>
        {{form.confirm(class='form-control')}}
      </div>
      <span><a href="{{url_for('userlog')}}">Have an Account ?</a></span>

      <div class="form-group">
        {{form.submit(class='btn btn-outline-primary')}}
        <input type="reset" value="Reset" class="btn btn-outline-warning">
        
      </div>
      
      
      
  </form>


{% endblock %}



