{% extends 'base.html' %}
{% block head %}
<title>Request</title>
{% endblock %}
{% block content %}


<fieldset class="container p-3 mb-2 bg-light text-dark pt-5 mt-5">
  <legend><span><i>Request Medical</i></span></legend>
  <form action="/request" method="POST" class="container pt-5">
    {{form.hidden_tag()}}
    <div class="form-floating mb-3"> 
      {{form.userName(class="form-control" ,id="floatingInput")}}
      <label for="floatingInput">{{form.userName.label}}</label>
    </div>
    <div class="card-body">
      <p class="card-title">{{form.gender.label}}</p>
      {{form.gender(class='form-control',style="list-style:none")}}
    </div>

    <div class="form-floating">
      {{form.course(class="form-control", id="floatingInput")}}
      <label for="floatingInput">{{form.course.label}}</label>
    </div>
    
    <div class="form-floating">
      {{form.year(class="form-control", id="floatingInput")}}
      <label for="floatingInput">{{form.year.label}}</label>
    </div>

    <div class="form-floating">
      {{form.semester(class="form-control", id="floatingPassword" )}}
      <label for="floatingInput">{{form.semester.label}}</label>
    </div>

    <div class="form-floating">
      {{form.attempt(class="form-control", id="floatingInput" )}}
      <label for="floatingInput">{{form.attempt.label}}</label>
    </div>
    
    <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        

        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
          
          <label for="example">{{form.start_date.label}}</label>
          {{form.start_date(class="form-control",id="floatingInput")}}
          <i class="fas fa-calendar input-prefix"></i>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
          
          <label for="example">{{form.end_date.label}}</label>
          {{form.end_date(class="form-control",id="floatingInput")}}
          <i class="fas fa-calendar input-prefix"></i>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
          
      <label for="example">{{form.date_issued.label}}</label>
      {{form.date_issued(class="form-control",id="floatingInput")}}
      <i class="fas fa-calendar input-prefix"></i>
    </div>
    

  </div>
</div>


     <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-title">{{form.type.label}}</p>
        {{form.type(class='form-control',style="list-style:none")}}
      </div>
    </div>
    
    <div class="mb-3">
      <label for="floatingInput" class="form-label">{{form.med_pic.label}}</label>
      {{form.med_pic(class='form-control')}}
    </div>
    
    <div class="form-group">
      {{form.submit(class='btn btn-outline-primary')}}
      <input type="reset" value="Reset" class="btn btn-outline-warning">
     </div>
    
  </form>
</fieldset>

{% endblock %}